<header class="text-primary p-4">
  <h1>Alojamientos con Reserva Flexible</h1>
</header>

<main class="container">

  <div class="row">

    <div class="col-md-4">

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/ec0ba424-73dc-4dbe-8678-2fc60beab5ab/295x200" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Hotel Esmeralda</h5>
          <h5 class="card-title">Iquique</h5>
          <p class="card-title font-weight-bold text-primary">$42.477</p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/5df21a58-014d-482f-94e3-b58fb98eb43c/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Hotel TorreMayor Lyon</h5>
          <h5 class="card-title">Santiago de Chile</h5>
          <p class="card-title font-weight-bold text-primary">$4103.657</p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/ab13a5c3-e04a-42fb-ba2e-28124dfc4d58/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Hotel Cabañas del Lago Puerto Varas</h5>
          <h5 class="card-title">Puerto Varas</h5>
          <p class="card-title font-weight-bold text-primary">$145.505</p>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/e9fc272c-812e-4088-99d8-ddb0ca244ee0/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Hotel Montecarlo</h5>
          <h5 class="card-title">Viña del Mar</h5>
          <p class="card-title font-weight-bold text-primary">$61.427</p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/7b237b1b-d1b2-4a75-93c8-0fb4cb948c34/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Altezza Apart & Suites</h5>
          <h5 class="card-title">Mendoza</h5>
          <p class="card-title font-weight-bold text-primary"></p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/1756f4f2-02da-43fa-af4e-f9530bcdabf8/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Best Western Hotel Zen</h5>
          <h5 class="card-title">Quito</h5>
          <p class="card-title font-weight-bold text-primary">$84.501</p>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/38ec318f-514d-4b59-a0c7-64e246035379/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Alma del Lago Suites</h5>
          <h5 class="card-title">San Carlos de Bariloche</h5>
          <p class="card-title font-weight-bold text-primary">$148.388</p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/77303242-b17d-4680-b96c-a4c6b011cfc5/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Apart & Spa Del Sauco</h5>
          <h5 class="card-title">San Martin de los Andes</h5>
          <p class="card-title font-weight-bold text-primary"></p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/839daa0e-b2f7-45c1-9c73-a4b0db16f3b3/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Panamericana Hotel</h5>
          <h5 class="card-title">Arica</h5>
          <p class="card-title font-weight-bold text-primary"></p>
        </div>
      </div>

    </div>

  </div>

</main>
