<header class="text-primary p-4">
  <h1>Calculadora</h1>
</header>
<main class="container m-2">
  <form>
    Ingresar presupuesto inicial: <input id="num1" type="number" />
    <br>
    Ingresar numero de gastos: <input id="num2" type="number" />
    <br>
    Ingresar descripcion de gastos <input id="descripcion" type="textarea" />
    <p id="resultado" style="color: green;"></p>
    <br /><br />
    <input type="button" value="Calcular" onclick="operaciones('restar'); return false;" /><br />
  </form>

  <br/>
</main>
