<header class="text-warning p-4">
  <h1>¡Aprovecha Actividades!</h1>
</header>

<main class="container">

  <div class="row">

    <div class="col-md-4">

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/87452c8c-8837-4285-8009-859d0f30223b/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">Xcaret</h5>
          <h5 class="card-title">En Cancún</h5>
          <p class="card-text text-warning">$58.668</p>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/b5809693-ec9e-485f-bd14-01b2de48f69e/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">Juanillo Vip All Day Tour</h5>
          <h5 class="card-title">En Punta Cana</h5>
          <p class="card-text text-warning">$128.703</p>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/f4caf2a9-5098-473c-bca3-50f356d7a60a/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">Aviario con entradas, y dia de playa en Playa Tranquila Baru</h5>
          <h5 class="card-title">En Cartagena de Indias</h5>
          <p class="card-text text-warning">$27.244</p>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/4994e2e4-2ff3-4652-b9f0-3734f6724123/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">Parque Xcaret Entrada Plus desde Playa del Carmen</h5>
          <h5 class="card-title">En Playa del Carmen</h5>
          <p class="card-text text-warning">$108.383</p>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/b02e30b6-9972-4105-8de2-86414078f335/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">Aventura Xplor</h5>
          <h5 class="card-title">En Cancún</h5>
          <p class="card-text text-warning">$86.706</p>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/1986bcd0-d4ba-4e37-97f5-e0375dd13969/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">Visita a Taxco y Cuernavaca</h5>
          <h5 class="card-title">En Ciudad de Mexico</h5>
          <p class="card-text text-warning">$32.996</p>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/9cec0268-848c-4a41-abde-bc95622ee743/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">City tour privado PREMIUM por la ciudad de Cartagena</h5>
          <h5 class="card-title">En Cartagena de Indias</h5>
          <p class="card-text text-warning">$50.401</p>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/34eef579-a52a-42b4-bcd3-4d0fda61d768/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">Tour de Alta Montaña</h5>
          <h5 class="card-title">En Mendoza</h5>
          <p class="card-text text-warning">$21.384</p>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header"><img src="https://media.staticontent.com/media/pictures/fff314e8-2995-4cef-ab19-d407f4beb1ef/400x400" class="card-img-top" alt="..."></div>
        <div class="card-body text-warning">
          <h5 class="card-title text-warning">Visita a bodegas y fábrica de aceite de oliva</h5>
          <h5 class="card-title">En Mendoza</h5>
          <p class="card-text text-warning">$11.262</p>
        </div>
      </div>

    </div>

  </div>

</main>
